.section {
  width: 30%;
  height: 300px;
  background-color: rgb(237, 228, 237);
  border-radius: 12px;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.559);
  border: 2px solid black;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  transition: all 0.2s ease;
}

.submit-section:hover {
  background-color: rgba(0, 128, 0, 0.519);
  color: white;
}
.update-section:hover {
  background-color: rgba(11, 51, 65, 0.582);
  color: white;
}

.delete-section:hover {
  background-color: rgba(236, 9, 9, 0.719);
  color: white;
}

.section:active {
  color: blue;
}
.show-btn {
  width: 200px;
  padding: 0;
}
.show-btn a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 8px 12px;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
}

.show-btn:hover a {
  color: black;
}

.search-wrapper {
  width: 90%;
  position: absolute;
  top: 40px;
}
.search-wrapper label {
  font-weight: bold;
  font-size: 32px;
  font-family: "Courier New", Courier, monospace;
  margin-right: 8px;
}
.search-wrapper input {
  width: 100%;
  padding: 8px 12px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  border-radius: 8px;
}
.search-wrapper input:focus {
  outline: 2px solid blueviolet;
}

@media screen and (max-width: 856px) {
  .section {
    font-size: 36px;
  }
}

@media screen and (max-width: 672px) {
  .section {
    width: 70%;
    height: 200px;
    flex-direction: column;
  }
  .news-wrapper {
    width: 90%;
  }
}
