html {
  scroll-behavior: smooth;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; */
}
