.post-form {
  width: 70%;
  margin: 0 auto;
  position: absolute;
  top: 100px;
  left:15%;
  /* border:3px solid black; */
}

/* textarea {
  border: 3px solid gray;
  border-radius: 2rem;
} */

.form-field {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 4px;
}
.form-field label {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.form-field textarea {
  padding: 10px;
  display: block;
  font-size: 20px;
  border: 3px solid gray;
  border-radius: 1rem;
}
.form-field textarea:focus {
  outline: blue;
  box-shadow: 0px 0px 2px 2px blue;
}
.form-field input {
  display: block;
  width: 100%;
  padding: 6px 18px;
  border-radius: 2rem;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.31);
  font-family: "Courier New", Courier, monospace;
  padding: 1rem;
  margin-top: 10px;
  border: 3px solid gray;
}
.form-field input:focus {
  outline: 1px solid blue;
  box-shadow: 0px 0px 2px 2px blue;
}

button {
  font-size: large;
  cursor: pointer;
  color: black;
  border: transparent;
  border-radius: 1rem;
  font-weight: bold;
  padding: 1rem;
  align-items: center;
  background-color: #ffab00;
  margin:0 auto;
  display: block;
}

button:hover {
  background-color: #2f18969b;
}

@media screen and (max-width: 756px) {
  .submit-btn {
    width: 100%;
  }
}
