.navbar {
  position: fixed;
  width: 110%;
  margin-top: -20px;
  margin-left: -30px;
  margin-bottom: 20px;
}

.sports-wrapper {
  position: fixed;
  right: 10px;
  top: 100px;
}

.sidebar {
  position: fixed;
  left: -5px;
  top: 70px;
}

.link:hover {
  color: blue;
  background-color: rgba(0, 0, 0, 0.076);
}
